/venv/

.idea*
.env
*.pyc
*.log
*.retry
__pycache__
.DS*

.~lock*
*.sublime-*

# Unit test / coverage reports
htmlcov/
.tox/
*.egg-info/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
code_coverage_report/*
*,cover
.hypothesis/
local_settings.py
env_settings.py

