[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
nose2 = "*"

[packages]
gunicorn = "*"
uvloop = "*"
aiogram = "*"
oauth2client = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
gspread_asyncio = "*"
gspread = "*"

[requires]
python_version = "3.8"
